{% extends "layout.html" %}

{% block body %}

<div class="register-box">

    <h2>Competitie</h2>

    {% if league %}

        <p><strong>Jouw competitie code:</strong></p>

        <h1 style="color:#110b6b;">
            {{ league[1] }}
        </h1>

        <a href="{{ url_for('league_view', league_id=league[0]) }}">
            <button>Bekijk competitie</button>
        </a>

    {% else %}

        <p>Je zit nog niet in een competitie.</p>

        <a href="{{ url_for('join') }}">
            <button>Join competitie</button>
        </a>

    {% endif %}

</div>

{% endblock %}