<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WK-Pronostiek</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='WK-ico (1).ico') }}">
</head>
<body>
    <header class="bar">
        <img src="{{ url_for('static', filename='WK-logo.png') }}" alt="WK-logo" class="wk-logo">
        <h1>WK-Pronostiek</h1>
    </header>

    {% block body %}
    {% endblock %}
</body>
</html>
