{% extends "layout.html" %}

{% block body %}
<h1>Regels</h1>
<p>Geef 20 verschillende landen op die deelnemen aan het WK  voetbal 2026: 15 met een positieve factor (aflopend van 15 naar 1) en 5 met een negatieve factor (aflopend van -1 naar -5).</p>
<p>De punten worden als volgt berekend:</p>
<ul>
    <li>Bij winst krijgt dat land 3 punten </li>
    <li>Gelijkspel met doelpunten = 2 punten</li>
    <li>Gelijkspel zonder doelpunten = 1 punt</li>
    <li>Nederlaag = 0 punten</li>
    <li>Voor elk land met een positieve factor, krijg je de punten dat ze die matchdag hebben verdiend maal de factor van dat land.</li>
    <li>Voor elk land met een negatieve factor, verlies je de punten dat ze die matchdag hebben verdiend maal de factor van dat land.</li>
    <li>De totale score van een matchdag is de som van de punten van alle 20 opgegeven landen.</li>
    <li>Vanaf de wedstrijden met rechtstreekse uitschakeling telt de uitslag na de reguliere speeltijd.
        Bij een gelijkspel wordt geen rekening gehouden met het land dat doorstoot via verlengingen of penalty's.</li>
</ul>
<p> De pronostiek wordt afgesloten op 9 juni om 23:59.</p>
<a href="{{ url_for('dashboard') }}">
    <button>Klik hier om terug te gaan naar het dashboard</button>
</a>

{% endblock %}